.colophon {
  margin: 5px -30px -45px -30px;
  text-align: center;
}
.colophon .color, .colophon .typeface {
  width: 100px;
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 3px;
}
.colophon .typeface b {
  background-color: #fbfbfb;
  display: block;
  width: 100px;
  height: 19px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  color: #ccc;
}
.clear {
  height: 50px;
}

.sidebar-item .thumbnail{
  border: 3px white solid;
}