<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/screen.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="apple-touch-icon" href="/img/favicon.png">
  <meta name="author" content="Abhay Rana">
  <meta name="keywords" content="captnemo, abhay rana, sdslabs, github pages, piratecoders, iit roorkee, abhayumt">
  
  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="{{ page.title }}" >
  <meta property="og:url" content="https://captnemo.in{{ page.url }}" >
  {% if page.date %}
  <meta property="article:published_time" content='{{ page.date | date:"%Y-%m-%d" }}' >
  <meta property="og:type" content="article">
  {% endif %}
  <meta property="og:site_name" content="Abhay Rana" >
  <meta property="og:image" content="https://captnemo.in/img/favicon.png" >
  
  {% if page.repo %}
  <!-- This might hurt my SEO, but is ultimately a better landing page -->
  <meta rel="canonical" content="https://github.com/{{page.repo}}">
  {% endif %}

  <!--Facebook Comments-->
  <meta property="fb:admins" content="capt.n3m0">
  <meta property="fb:app_id" content="358126290896126">

  <!--Authorship-->
  <link rel="me" href="https://google.com/+AbhayRana/">
  <link rel="me" href="https://facebook.com/capt.n3m0">

  <!-- le google analytics -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5922129-9']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
