<div class="topbar" id="topbar">

  <nav class="topbar-nav">
    {% if page.url != '/' %}
    <a class="topbar-nav-item" href="/">Home</a>
    {% endif %}
    <a class="topbar-nav-item" href="/archive.html">Archive</a>
    <a class="topbar-nav-item" title="About" href="https://about.me/n3m0">About</a>
    <!-- <a class="topbar-nav-item" title="Resume" href="/resume.pdf">Resume</a> -->
    <a class="topbar-nav-item" title="My Projects" href="/projects/">Projects</a>
    <a class="topbar-nav-item" title="My Setup" href="/setup/">Setup</a>
    <a class="topbar-nav-item" title="Contact Me" href="/contact/">Contact</a>
    <a class="topbar-nav-item" title="RSS Feed" href="/atom.xml">RSS</a>
    <a class="topbar-nav-item hide-on-mobile" title="Source Code" href="https://github.com/captn3m0/captn3m0.github.com" title="Source Code">
      Source
    </a>
  </nav>
</div>
