.homeheader {
    width: 560px;
    min-height: 180px;
    text-align: center;
    margin: 48px auto 0px auto;

    .circle:before {
      content: ' \25CF';
      font-size: 50px;
      color: #1eacff;
    }

    .name {
        font-family: Ubuntu Mono;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #06c3ff;
        margin-bottom: 16px;
    }
    .about {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4e5e6f;
        margin-bottom: 16px
    }
    margin-bottom: 48px;
}

.topbar {
    .topbar-nav-item {
        font-family: Ubuntu Mono;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-decoration: none;
        color: #1eacff;
        padding: 5px;

        &:hover {
            background: rgba(30, 172, 255, 0.1);
            border-radius: 3px;
        }
    }
}

.raava-posts {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;

    .raava-post {

        margin-top: 32px;

        .raava-post-date {
            font-family: Ubuntu Mono;
            line-height: 17px;
            font-size: 14px;
            letter-spacing: 0.1em;
            color: rgba(78, 94, 111, 0.56);
        }

        h1.raava-post-title {
            font-family: Cabin;
            font-weight: bold;
            line-height: normal;
            font-size: 28px;
            letter-spacing: 0.04em;
            color: #4e5e6f;
            margin: 7px 0px;

            a {
                color: #4e5e6f;
                text-decoration: none;
            }
        }

        .raava-post-excerpt {
            line-height: 24px;
            font-size: 20px;
            letter-spacing: 0.04em;
            color: #4e5e6f;
        }
    }
}
