.colophon {
  margin: 5px -30px -45px -30px;
  text-align: center;
  .color {
    width: 100px;
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
  }
  .typeface {
    width: 100px;
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    b {
      background-color: #fbfbfb;
      display: block;
      width: 100px;
      height: 19px;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      color: #ccc;
    }
  }
}

.clear {
  height: 50px;
}

.sidebar-item .thumbnail {
  border: 3px white solid;
}

.projects {
  font-family: "PT Sans", sans-serif;
  > ul > li {
    height: 140px;
    width: 49%;
    text-align: center;
    border-radius: 3px;
    background: #8b8c87;
    overflow: hidden;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    display: inline-block;
    padding-top: 5px;
    a {
      color: white !important;
      text-decoration: none;
      font-size: 1.3em !important;
    }
  }
}

.innerdetail {
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ededed;
    line-height: 1.2em;
  }
}

.repo-buttons {
  border: none !important;
  td {
    text-align: center;
    border: none !important;
    background-color: transparent !important;
    border-collapse: collapse;
  }
}

#readme img {
  display: inline-block;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table.responsive {
    display: block;
    thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
      &:nth-of-type(1):before {
        content: "User";
      }
      &:nth-of-type(2):before {
        content: "Message";
      }
      &:nth-of-type(3):before {
        content: "Time";
      }
    }
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  /*
  Label the data
  */
}

.center-content {
  display: block;
  margin: 0 auto;
}


.toc {
  float: right;
  width: 40%;
  background: #eee;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.toc ul {
  padding: 0;
  margin-left: 0.5em;
}
.toc li {
  margin: 0 0 0.25em 0;
}
.toc a {
  text-decoration: none;
}
.toc a:hover,
.toc a:active {
  text-decoration: underline;
}

h3:target, h2:target, h1:target {
  animation: highlight 1s ease;
}