<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="height: auto; "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ page.title }}</title>
	<meta name="author" content="Abhay Rana">
	<meta name="design" content="SimplyGold [Sadhana Ganapathiraju]">
	<meta name="keywords" content="captnemo, abhay rana, sdslabs, github pages, piratecoders, iit roorkee, abhayumt">	
	<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
	<link rel="stylesheet" type="text/css" media="handheld" href="/css/mobile.css"/>
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	<link href="/atom.xml" rel="alternate" title="CaptNemo.in Atom Feed" type="application/atom+xml" /> 
</head>
<body id="bhome">
	<div id="container">
		<div id="header">
			<h1><a href="/" title="Home"><span>captnemo.in</span></a></h1>
		</div>
		<div id="navigation">
			<ul>
				<li id="lhome"><a href="/" title="Home">Home</a></li>
				<li ><a href="http://piratecoders.co.cc" title="Blog">Blog</a></li>
				<li ><a href="/contact/" title="Contact">Contact</a></li>
				<li><a href="/atom.xml" title="Atom RSS Feed">RSS</a></li>
			</ul>
		</div>
		<div id="wrapper">		
			<div id="content-wrapper">			
				<div id="content">
				{{content}}			
			</div>		
		</div>
		<div id="footer">
			<a href="http://github.com/captn3m0/">Abhay Rana</a> | Some rights reserved | Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a> | 		
		</div>
	</div>
