<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="height: auto; ">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ page.title }}</title>
	<meta name="author" content="Abhay Rana">
	<meta name="design" content="SimplyGold [Sadhana Ganapathiraju]">
	<meta name="keywords" content="captnemo, abhay rana, sdslabs, github pages, piratecoders, iit roorkee, abhayumt">	
	<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
	<link rel="stylesheet" type="text/css" media="handheld" href="/css/mobile.css"/>
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	<link href="/atom.xml" rel="alternate" title="CaptNemo.in Atom Feed" type="application/atom+xml" /> 
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-5922129-9']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- Mixpanel -->
	<script type="text/javascript">var mpq=[];mpq.push(["init","f7260bb73231c252f844029edb219d5c"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
</head>
<body id="bhome">
	<div id="container">
		<div id="header">
			<h1><a href="/" title="Home"><span>captnemo.in</span></a></h1>
		</div>
		<div id="navigation">
			<ul>
				<li id="lhome"><a href="/" title="Home">Home</a></li>
				<li ><a href="http://piratecoders.co.cc" title="Blog">Blog</a></li>
				<li ><a href="/projects/" title="Projects">Projects</a></li>
				<li ><a href="/contact/" title="Contact">Contact</a></li>
				<li><a href="/atom.xml" title="Atom RSS Feed">RSS</a></li>
				<li class="plus"><g:plusone href="http://captnemo.in"></g:plusone></li>
				<li class="plus"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=244768545535841&amp;xfbml=1"></script><fb:like href="http://captnemo.in" send="false" layout="button_count" width="50" show_faces="false" font=""></fb:like></li>
			</ul>
		</div>
		<div id="wrapper">		
			<div id="content-wrapper">			
				<div id="content">
				{{content}}			
			</div>		
		</div>  
		<div id="footer">
			<a href="http://github.com/captn3m0/">Abhay Rana</a> | Some rights reserved | Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a> | 		
			Analytics using <a href="http://mixpanel.com/f/streams"><img src="http://mixpanel.com/site_media/images/partner/badge_light.png" alt="Web Analytics" /></a> | 
			Made on <a href="http://www.ubuntu.com"><img src="/img/ubuntu.png"></a>
		</div>
	</div>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
