<!DOCTYPE html>
<html>
	<head>
		<title>captnemo.in | New layout</title>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<style>
			.body{
				margin-top:20px;
			}
			.nav{
				margin:20px 0 0 90px;
			}
				.nav li{
					font-size:30px;
					line-height:40px;
					width:120px;
					text-align:right;
				}
			.blog-title{
				font-family:"Ubuntu";
				width:210px;
				text-align:right;
			}
				.blog-title a:hover{
					text-decoration:none;
				}
			.content{
			}
			.content blockquote{
				border-left: 5px solid #0E53A7;
				padding-left:5px;
			}
			.content h1{
				font-size:50px;
				line-height:60px;
			}
		</style>
	</head>
	<body>
		<div class="body container-fluid">
			<div class="row-fluid">
				<div class="sidebar span3">
					<div class="image">
						<img class="thumbnail" src="http://placekitten.com/201/201/">
					</div>
					<h2 class="blog-title"><a title="List of Posts" href="/">captnemo.in</a></h2>
					<ul class="nav">
						<li class="about"><a title="About Me" href="/">about</a></li>
						<li class="projects"><a title="My Projects" href="/">projects</a></li>
						<li class="contact"><a title="Contact Me" href="/">contact</a></li>
						<li class="rss"><a title="Atom Feed" href="/">rss</a></li>
					</ul>
				</div>
				<div class="content span9">
					<h1>Title</h1>
					<p>Main Content</p>
					<blockquote>This is a quote</blockquote>
					<ul>
					   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					   <li>Aliquam tincidunt mauris eu risus.</li>
					   <li>Vestibulum auctor dapibus neque.</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
