---
layout:  default
---

<blockquote>Published on <a href="http://captnemo.in/{{page.url}}">{{page.date | date: "%B %d,  %Y"}}</a>
</blockquote>
<hr>
<div id="post">{{content}}</div>
<div id="follow">
    If you like this post, you should probably follow this site via <a href="/atom.xml">RSS</a>, or via Twitter,Facebook,G+ <a href="http://about.me/n3m0">here</a>.
</div>
<hr>
<!-- Facebook Comments -->
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:comments href="http://captnemo.in{{ page.url }}" num_posts="5" width="580"></fb:comments>
